body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button:not(:disabled),
input:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  color: lightgray;
}

button.icon {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}

input:disabled {
  color: #ccc;
}

/* This prevents Firefox from displaying a red box shadow
  around required inputs that have no value. */
input:invalid {
  box-shadow: none;
}

label {
  display: inline-block;
}

input,
button,
select,
textarea {
  --padding: 10px;

  border-radius: var(--padding);
  border: none;
  box-sizing: border-box;
  color: gray;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: var(--padding);
}
